<h2>Welcome to Channel {{channel}}</h2>
<img src="http://localhost:3000/api/images/{{imagepath}}" alt="Profile Pic" height="100" width="100">
<input placeholder="Type here to get started with your chat" type="text" style="margin:20px;" size="36" [(ngModel)]="message"/>
<form>
  <div class="form-group">
    <input type="file" class="form-control" (change)="OnFileSelected($event)" name="uploadFile" id="uploadFile"/>
  </div>
  <button class="btn btn-primary" type="button" (click)="OnUpload()">Submit</button>
</form>
<br>

<br>
<button style="margin: 20px;" class="btn btn-primary" (click)="sendMessage()">Send Message</button>
<button *ngIf="username" (click)="logout()" class="logout btn btn-danger">Leave Chat</button>
<div class="messages">
    <div *ngFor="let message of messages" class="message">
      <img src="http://localhost:3000/api/images/{{message.image}}" alt="Profile Pic" height="20" width="20"><span><strong>{{message.user}} :</strong> {{message.message}}</span>
    </div>
  </div>
  <div class="images">
    <div *ngFor="let sd of imgz">
      <img src="http://localhost:3000/api/images/{{sd.image}}" alt="Profile Pic" height="20" width="20">  <span><strong>{{sd.user}} :</strong></span> <img src="http://localhost:3000/api/imagez/{{sd.message}}" alt="ss" height="100" width="100">
  </div>
</div>
